.git
.gitignore
*.log
*.md
__pycache__
.venv
venv
.env
.env.local
node_modules
.next
*.zip
ml/data
ml/models
ml/notebooks
ml/*.log
backend/*.log
backend/.venv
backend/config/serviceAccountKey.json
frontend/node_modules
frontend/.next
