# Supabase PostgreSQL
TIMESCALEDB_URL=postgresql://railway:mh0ne19tee26ay6r19n7qtl9ctl3b4is@caboose.proxy.rlwy.net:20780/railway

# Redis (will setup later)
REDIS_HOST=redis-19855.c15.us-east-1-2.ec2.cloud.redislabs.com
REDIS_PORT=19855
REDIS_PASSWORD=91QYDDeyyiG8cHgtEe8KhLZ0YyovfU4d

# API Keys (will add as you get them)
ALPHA_VANTAGE_API_KEY=YRMJ4KBE3DMGXGQQ
NEWS_API_KEY=59b0f0e67913492faa9fd280a428be2d
Gemini_API_KEY=AIzaSyDlddsxwIC77QqMN2oRKrkaJHsHay_DZfo